@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-family: 'Forum', cursive;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

header {
  background-color: #030303;
  color: #ffffff;
}

.container_header {
  display: flex;
  justify-content: space-between;
  min-height: 200px;
  align-items: center;
}

.louvre-logo {
  font-family: 'Forum', cursive;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.louvre-logo__text {
  margin-left: 20px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header-navigation {
  height: 50px;
  width: 720px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.navigation-list__item {
}

.navigation-list__link {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
}

.welcome {
  min-height: 750px;
  background: #030303 url(assets/img/background.jpg) right no-repeat;
  color: #ffffff;
}

.welcome__title {
  font-family: Forum;
  font-style: normal;
  font-size: 80px;
  font-weight: 300;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.welcome__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  margin-top: 26px;
}

.welcome__button {
  background: #710707;
  border-radius: 10px;
  border: none;
  padding: 24px 68px;
  color: #ffffff;
  margin-top: 76px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
}

.container_welcome {
  padding-top: 114px;
}

.container_virtual-tour {
  margin-top: 75px;
}

.main-title {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.text_color-gold {
  color: #9d8665;
}

.text_color-white {
  color: #ffffff;
}

.main-title_underline {
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
}

.main-title_underline:after {
  /* content: ""; */
  /* display: block; */
  /* max-width: 100%; */
  /* border-bottom: 3px solid #710707; */
  /* padding-bottom: 25px; */
}

.galery-grid {
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
}

.galery-card {
  width: 440px;
  height: 422px;
  margin-bottom: 78px;
  display: flex;
  flex-direction: column;
}

.galery-card__title {
  margin-top: 25px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.galery-card__title:after {
  content: '';
  display: block;
  max-width: 300px;
  border-bottom: 2px solid #710707;
  margin-top: 9px;
}

.galery-card__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-top: 10px;
}

.galery-card__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 10px;
}

.virtual-tour {
}

.picture-explore {
  color: #ffffff;
  background: #030303;
}

.container_picture-explore {
  display: flex;
  justify-content: space-between;
  padding: 75px 0px;
}

.picture-explore-text {
  width: 660px;
}

.picture-explore-text__body {
  margin-top: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.picture-explore-text__body mark {
  color: #9d8665;

  background: none;
}

.picture-explore-text__body > p {
  margin-bottom: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.video-journey {
}

.container_video-journey {
  margin: 90px auto 75px auto;
}

.video-journey__text {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.video-journey__description {
  max-width: 720px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38.5px;
  color: #000000;
  display: flex;
  align-items: center;
}

.buy-tickets {
  background-color: #030303;
}

.container_buy-tickets {
  padding: 75px 0px;
}

.buy-tickets__body {
  margin-top: 75px;

  display: flex;

  justify-content: space-between;
}

.buy-tickets-form {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  width: 660px;
}

.ticket-type {
  width: 270px;
}

.ticket-type_list {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.ticket-type_list > li {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.ticket-type_list > li > label {
  margin-left: 23px;
}

.ticket-type__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.ticket-amount {
  width: 150px;
  text-align: right;
}

.ticket-amount__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.basic-18 {
  margin-top: 11px;
}

.input-num-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  display: block;
}

.inp-num {
  margin-top: 14px;
  width: 150px;
  border: 3px solid #ffffff;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 14px;
}

.basic-18__number {
  all: unset;
  text-align: center;
}

.inp-num button {
  all: unset;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
}

.senier-65 {
  margin-top: 35px;
}

.senier-65__number {
  all: unset;
  text-align: center;
}

.buy-tickets-form__cost {
}

.buy-tickets-form__cost {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-top: 50px;
}

.buy-ticket-form__number {
  display: inline;
}

.buy-tickets-form__submit-button {
  width: 175px;
  height: 50px;
  background: #ffffff;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #000000;
  margin-top: 50px;
}

.contacts {
}

.container_contacts {
  margin: 75px auto;
}

.contacts-body {
  display: flex;

  justify-content: space-between;

  margin-top: 75px;
}

.contacts-text {
  margin-top: 10px;
}

.contacts-list__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.contacts-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  list-style-type: none;
  margin-top: 36px;
}

.contacts-list__item {
  margin-bottom: 20px;
}

.contacts-list__item * {
  display: inline-block;
  color: #000000;
  text-decoration: none;
}

footer {
  background-color: #030303;
}

.container_footer {
  padding: 75px 0px;
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
}

.footer-social__list {
  display: flex;
  width: 336px;
  list-style: none;
  justify-content: space-between;
}

.footer-social__item {
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 0px #666666);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__item > a {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reminder {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffffed;
}

.reminder__content {
  max-width: 640px;
  line-height: 26px;
  position: relative;
}

.reminder__title {
  padding: 20px;
  font-size: 18px;
}

.reminder__description {
  padding: 5px;
}

.reminder__description > span {
  display: block;
  margin-top: 10px;
}

.agree-button {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
}

.agree-button:hover {
  cursor: pointer;
  color: red;
}
