@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    line-height: 180%;
    font-family: 'Forum', cursive;
  }
  
  .container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }

  .container--header{
      background-color: #030303;
      color: #ffffff;
      display: flex;
  }

  .louvre-logo {
      height: 50px;
  }
  .louvre-logo__text {
      font-size: 28px;
      line-height: 50px;
  }